@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fff7ed;
  --secondary-color: #ff8c38;
  --button-radius: 5px;
}
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #fff7ed; */
  font-family: "Inter", sans-serif;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
h1,
h2,
h3 {
  font-weight: bold;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home,
.about {
  flex-grow: 1;
}

header,
footer {
  /* min-height: 10vh !important; */
  flex-shrink: 0 !important;
  padding: 20px 40px;
}
header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-block: 10px; */
  /* align-items: center; */
}

@media (min-width: 768px) {
  header {
    /* height: 10vh; */
    /* padding: 50px 100px; */
  }
}
header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header .nav-links {
  padding-left: 1rem;
  font-size: 20px;
}
header .text-logo {
  font-size: 1.6rem;
}
.home {
  background-image: url(./Images/image\ 53.png);
  padding: 5%;
  /* height: 80vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1,
p {
  color: white;
  margin: 1rem 0;
}
.home h1 {
  font-size: 3rem;
}
.home p {
  font-size: 1.5rem;
  color: white;
}
.home .link-button {
  padding: 10px;
  margin-top: 30px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 18rem;
  height: 4rem;
  font-size: 1.2rem;
  color: white;
}
.footer {
  background-color: rgb(55, 55, 55);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* object-position: bottom; */
}

/* //////////// */
.about {
  background-color: #fff7ed;
}
.img-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 30vh;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; /* This will hide the bottom part of the image */
}
.about-description h3,
p {
  color: black;
}
.about-card {
  background-color: #ffcc8d;
  padding: 2rem;
}
/* .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
} */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-description {
  max-width: 800px !important;
  height: 100%;
}
.about .link-button {
  background-color: black;
  color: white;
  margin-top: 2rem;
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .van-name-price_container {
  display: flex;
  justify-content: space-between;
} */
/* Vans */
.van-section {
  display: flex;
  flex: 1 0 auto;
}
.van-card img {
  /* width: 300px; */
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
}
.bg-simple {
  background-color: #e17654;
}
.bg-rugged {
  background-color: #115e59;
}
.bg-luxury {
  background-color: #161616;
}
.van-filter-li li {
  margin-right: 1rem;
  background-color: #ffcc8d !important;
  border-radius: 5px;
  cursor: pointer;
}
.van-filter-li li .van-type {
  background-color: var(--primary-color);
  color: black;
  text-transform: capitalize;
  border-radius: 5px;
}
.van-filter-li li .van-type:hover {
  background-color: #925710 !important;
}
.van-section li {
  list-style-type: none;
}
.van-card a {
  text-decoration: none;
  color: black;
}
.van-card-li {
  width: 300px;
}
.clear-filter {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: gray;
}

.van-img {
  border-radius: 5px;
}

.van-type_container {
  position: relative;
  bottom: 20px;
}
.van-type {
  /* background-color: blue; */
  /* max-width: 70px; */
  border-radius: 5px;
  padding: 0.3rem 1rem;
  display: inline-block !important;
  color: white;
}
/* ---------------- */
.vanDetails-container {
  background-color: var(--primary-color);
}
.vanDetails-container .container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 600px;
  text-align: left;
}
.vanDetails-container img {
  width: 100%;
}
.vanDetails-container a {
  color: black;
}
.vanDetails-container button {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

/* -----HOST---- */
.host a {
  text-decoration: none;
  color: black;
  padding-right: 50px;
}
.host-layout {
  background-color: var(--primary-color);
}
.hostVans {
  background-color: var(--primary-color);
}
.hostVans a {
  text-decoration: none;
  color: black;
}

/* ---- */
host-van-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-van-detail {
  display: flex;
  align-items: center;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}
